.card {
    position: relative;
    overflow: hidden;
    margin: var(--space-y) 0 0;
    background: #fff;
}
.card__cover {
    position: relative;
    margin: 0;
}
.card__block {
    position: relative;
    padding: 0 var(--space-x) var(--space-y);
    overflow: hidden;
}
.card__block:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--space-x);
    right: var(--space-x);
    display: block;
    height: 1px;
    background: rgba(33,37,41,.2);
}
.card__block:last-child:after {
    display: none;
}
