img {
    display: block;
    width: 100%;
    outline: none;
}
.cover {
    position: relative;
    display: block;
    padding-bottom: 50%;
    overflow: hidden;
    background: rgba(33,37,41,.2);
}
.cover img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    outline: none;
}

.cover--portrait {
    padding-bottom: 150%;
}
.cover--landscape {
    padding-bottom: 66.6665%;
}
.cover--wide {
    padding-bottom: 50%;
}
.cover--superwide {
    padding-bottom: 25%;
}
.cover--square {
    padding-bottom: 100%;
}
.cover--circle {
    padding-bottom: 100%;
    border-radius: 50%;
}
